# Node modules
node_modules/
client/node_modules/

# Environment & logs
.env
*.log
.DS_Store

# Python cache
__pycache__/
ml/__pycache__/
ml/*.pkl

# React build output
client/dist/

# IDE folders
.vscode/
.idea/
